:root {
    --text-color: #333;
    --background-color: #f7f7f7;
    --link-color: #0066cc;
    --link-hover-color: #004488;
    --header-footer-bg: #fff;
    --border-color: #ccc;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

/* --- Layout e contenitori --- */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    padding: 40px 0;
    border-bottom: 1px solid var(--border-color);
}

section:last-of-type {
    border-bottom: none;
}

/* --- Intestazione e Logo --- */
header {
    display: flex;
    justify-content: center; /* Centra il logo */
    align-items: center;
    padding: 20px;
    background-color: var(--header-footer-bg);
    border-bottom: 1px solid var(--border-color);
}

.logo img {
    max-width: 200px; /* Imposta una dimensione massima per il logo, puoi modificarla */
    height: auto;
}

/* --- Tipografia --- */
h2 {
    font-size: 2em;
    font-weight: 300;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
    margin-top: 0;
}

p {
    margin-bottom: 1em;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 0.5em;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.deadline {
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
    color: #c00;
}
